<PodclaveConfig>
    <RequestDelayBaseSeconds>300</RequestDelayBaseSeconds>
    <RequestDelayRandomOffsetSeconds>300</RequestDelayRandomOffsetSeconds>
    <Podcasts>
        <Podcast>
            <FeedUrl>https://feeds.simplecast.com/cYQVc__c</FeedUrl>
            <DryRun>true</DryRun>
        </Podcast>
    </Podcasts>
</PodclaveConfig>